<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573873722774-98uckahcspqlfeojf7b79i7s2m9crt9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573873722774-98uckahcspqlfeojf7b79i7s2m9crt9h</string>
	<key>API_KEY</key>
	<string>AIzaSyDZxj9y_Q2fv36GedwyqzxNEbWCdd056yM</string>
	<key>GCM_SENDER_ID</key>
	<string>573873722774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.analyticsTest</string>
	<key>PROJECT_ID</key>
	<string>analytic-test-111e1</string>
	<key>STORAGE_BUCKET</key>
	<string>analytic-test-111e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573873722774:ios:1f968a6c7922e215b079b7</string>
</dict>
</plist>